.monthlychart {
  &__wrapper {
    margin-bottom: 50px;
  }
  &__head {
    font-size: 18px;
    font-weight: lighter;
  }
  &__description {
    font-size: $mid-font-size;
    font-weight: lighter;
  }
}
