.mychart {
  &__head {
    font-size: 18px;
  }
  &__description {
    margin-top: 8px;
    font-size: $mid-font-size;
  }
  @include tablet {
    &__head {
      font-size: 16px;
    }
  }
  @include mobile-l {
    &__head {
      font-size: 14px;
    }
    &__description {
      font-size: 12px;
    }
  }
}
