.mypage {
  display: flex;
  margin: 0 auto;
  width: 1020px;

  &__sidebar {
    width: 180px;
    margin: 30px 40px 0 0;
  }
  &__content {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin-top: 30px;
    gap: 45px;
  }
}
