.categories {
  align-items: center;
  justify-content: center;
  background-color: $gray-lev1;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  &__wrapper {
    width: 1022px;
    height: 144px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin: 0 auto;
    &--name {
    }
    & > ul {
      width: 100%;
      height: 100%;
      display: flex;
      gap: 10px;
      justify-content: space-between;
      flex-direction: row;
      overflow: hidden;
      & > li {
        margin: 0 auto;
        width: 76px;
        height: 100%;
      }
    }
  }
  & > img {
    width: 50%;
    height: auto;
    overflow: hidden;
  }
}
