.categories {
  align-items: center;
  justify-content: center;
  background-color: $gray-lev1;
  border-radius: 50%;
  display: flex;
  &__wrapper {
    width: 76px;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  & > img {
    width: 50%;
    height: auto;
    overflow: hidden;
  }
}
