.chart {
  width: 100%;
  margin: 15px 0 0 0;
  &__wrapper {
    width: 80%;
  }
  &--img {
    width: 100%;
    object-fit: contain;
  }
}

// 1020 *372 비율로
//

@include desktop {
  .chart {
    width: 614px;
    height: 372px;
  }
}
