.home {
  display: flex;
  flex-direction: column;
  // flex: 2 대신에
  width: 1020px;
  margin: 0 auto;
  // flex: 2; //화면 크기만큼 늘어남 반응
  gap: 30px;
  &__wrapper {
    width: 80%;
    margin: 0 auto;
  }
  & > ul {
    display: flex;
    // flex-wrap: wrap;
    gap: 30px;
    width: 90vw;
    margin: 0 auto;
    overflow: hidden;
    & > li {
      // flex: 1;
    }
  }
}

.categories {
  &__wrapper {
    display: flex;
  }
}
