@import "./categories";
@import "./category";
@import "./charts";
@import "./recommendation";

.home {
  display: flex;
  flex-direction: column;
  gap: 30px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 1020px;
    align-items: center;
  }

  @include tablet {
    &__wrapper {
      width: $breakpoint-tablet;
    }
  }
  @include mobile-l {
    &__wrapper {
      width: $breakpoint-mobile-l;
      margin-top: 5px;
    }
  }
  @include mobile-m {
    &__wrapper {
      width: $breakpoint-mobile-m;
    }
  }
  @include mobile-s {
    &__wrapper {
      width: $breakpoint-mobile-s;
    }
  }
}
