.like {
  &__head {
    font-size: 18px;
    font-weight: lighter;
  }
  &__wrapper {
    & > hr {
      margin-top: 18px;
      margin-bottom: 0px;
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;

    &__wrapper {
      display: flex;
      align-items: center;
      flex: 1;
      position: relative;
      margin: 0 10px;
    }
    &-index {
      position: absolute;
      right: 10px;
      width: 90px;
      & > img {
        width: 37px;
        height: 41px;
      }
    }
  }

  img {
    margin: 15px 15px 15px 10px;
  }

  &__button__wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 0 0 95px;
    margin-right: 10px;
    & > button {
      border-radius: 4px;
      padding: 7px 13px;
      font-size: $small-font-size;
    }
  }
}
