.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 37px;
  &__wrapper {
    width: 1020px;
    height: 100%;
    box-sizing: border-box;
    padding: 0 57px 22px 10px;
  }

  &__check {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    & > img {
      width: 92px;
      height: 92px;
    }
  }

  &__description {
    &__wrapper {
      width: 500px;
      margin-right: 48px;
      flex: 1 1;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 27px;
    }
    display: flex;
    flex-direction: column;
    width: 500px;
    font-size: $big-font-size;
    gap: 12px;
    &__val {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-delivery {
      font-size: $basic-font-size;
    }
  }

  &__bananaIndex {
    & > img {
      width: 37px;
      height: 42px;
    }
  }

  &__bananaIndexNum {
    transform: translateX(25px) translateY(-35px);
  }

  @include mobile-l {
    margin-left: 7px;
    gap: 10px;
    justify-content: flex-start;
    &__wrapper {
      width: 100%;
      padding: 0 0 10px 0;
    }
    &__check {
      gap: 7px;
      & > img {
        width: 55px;
        height: 55px;
      }
    }
    &__description {
      width: 100px;
      &__wrapper {
        display: flex;
        align-items: center;
        margin-right: 0;
        justify-content: flex-start;
        gap: 0;
        flex: 0;
      }
      &-name {
        font-size: 12px;
      }
      &-delivery {
        font-size: 10px;
      }
      &__val {
        width: 50px;
        font-size: 12px;
      }
    }
    &__bananaIndex {
      font-size: 10px;
      position: relative;
      top: 5px;
      left: 10px;
      & > img {
        width: 25px;
        height: auto;
      }
    }
    &__bananaIndexNum {
      position: relative;
      top: 8px;
      left: -10px;
    }
  }
}
