@import "./cart";
@import "./cartsTotal";

.carts {
  &__wrapper {
    margin: 0 auto;
  }
  &__header {
    &__wrapper {
      width: 100%;
      margin: 30px 0 20px 0;
    }
  }
  &__head {
    font-size: 18px;
    margin-bottom: 18px;
  }
  &__category {
    &__wrapper {
      margin: 18px 30px 18px 10px;
      justify-content: center;
      align-items: center;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    &__info {
      width: 600px;
    }
    &__val {
      width: 100px;
    }
  }

  &__check {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
  }

  &__button {
    display: flex;
    gap: 9px;
    justify-content: center;
    margin-bottom: 41px;
  }

  @include mobile-l {
    &__wrapper {
      display: flex;
      flex-direction: column;
      width: $breakpoint-mobile-l;
      align-items: center;
    }
    &__header {
      width: 90%;
      &__wrapper {
        width: 100%;
        margin: 20px 0 0 0;
      }
    }
    &__head {
      font-size: 14px;
      margin-bottom: 15px;
    }
    &__category {
      &__wrapper {
        margin: 10px 7px;
        justify-content: center;
        align-items: center;
      }
      font-size: 10px;
      justify-content: flex-start;

      &__info {
        width: 150px;
        font-size: 12px;
      }
      &__val {
        width: 60px;
        font-size: 12px;
      }
      &__index {
        font-size: 12px;
      }
    }
    &__check {
      gap: 7px;
      margin-right: 33px;
    }
    &__button {
      gap: 9px;
      margin-bottom: 41px;
      & > button {
        width: 130px;
        height: 40px;
        font-size: 13px;
      }
      & > a {
        width: 130px;
        height: 40px;
        font-size: 13px;
      }
    }
  }
}
