@import "./cart";
@import "./cartsTotal";

.carts {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__header {
    &__wrapper {
      width: 100%;
      margin: 30px 0 20px 0;
    }
  }
  &__head {
    font-size: 18px;
    margin-bottom: 18px;
  }
  &__category {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 15px;
    &__wrapper {
      margin: 18px 0 18px 0;
    }
    &__info {
      width: 610px;
    }
    &__val {
      width: 120px;
    }
  }
  &__checkAll {
    width: 92px;
    text-align: left;
  }
  &__check {
    margin-left: 10px;
  }

  &__button {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 41px;
  }

  @include tablet {
    &__wrapper {
      width: $breakpoint-tablet;
    }
    &__header {
      width: 95%;
    }
    &__head {
      font-size: 16px;
    }
    &__category {
      font-size: 12px;
      &__wrapper {
        margin-top: 12px;
        margin-bottom: 12px;
      }
      &__info {
        width: 395px;
        font-size: 14px;
      }
      &__val {
        width: 105px;
        font-size: 14px;
      }
      &__index {
        font-size: 14px;
      }
    }
    &__button {
      & > button {
        width: 250px;
        height: 55px;
        font-size: 16px;
      }
      & > a {
        width: 250px;
        height: 55px;
        font-size: 16px;
      }
    }
  }

  @include mobile-l {
    &__wrapper {
      width: $breakpoint-mobile-l;
    }
    &__header {
      width: 90%;
      &__wrapper {
        margin: 20px 0 0 0;
      }
    }
    &__head {
      font-size: 14px;
      margin-bottom: 15px;
    }
    &__category {
      font-size: 10px;
      gap: 7px;
      &__wrapper {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      &__info {
        width: 165px;
        font-size: 12px;
      }
      &__val {
        width: 80px;
        font-size: 12px;
      }
      &__index {
        width: 30px;
        font-size: 10px;
      }
    }
    &__checkAll {
      width: 45px;
    }
    &__check {
      margin-left: 5px;
    }
    &__button {
      gap: 9px;
      margin-bottom: 41px;
      & > button {
        width: 130px;
        height: 40px;
        font-size: 13px;
      }
      & > a {
        width: 130px;
        height: 40px;
        font-size: 13px;
      }
    }
  }
}
