.order {
  display: flex;
  flex-direction: column;
  gap: 10px;
  &__head {
    font-size: 18px;
    font-weight: lighter;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  &__description {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;

    &__wrapper {
      display: flex;
      align-items: center;
      flex: 1;
      position: relative;
      margin: 0 10px;
    }
    &__delivery {
      display: flex;
      flex-direction: column;
      gap: 7px;
    }
    &__status {
      font-size: $big-font-size;
      font-weight: 700;
    }
    &__date {
      font-size: $basic-font-size;
      font-weight: 500;
    }
    &__price {
      font-size: $basic-font-size;
      font-weight: 500;
    }
    &-index {
      position: absolute;
      right: 10px;
      width: 90px;
      & > img {
        width: 37px;
        height: 41px;
      }
      & > div {
        position: absolute;
        top: 20px;
        left: 32px;
        font-size: $small-font-size;
      }
    }
  }

  img {
    margin: 15px;
  }

  &__button__wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 0 0 95px;
    margin-right: 15px;
    & > button {
      border-radius: 4px;
      padding: 7px 13px;
      font-size: $small-font-size;
    }
  }

  @include mobile-l {
    &__head {
      font-size: 14px;
    }
    &__wrapper {
      gap: 15px;
    }
    &__description {
      gap: 8px;
      &__wrapper {
        margin-left: 7px;
      }
      &__status {
        width: 130px;
        font-size: 13px;
      }
      &__date {
        width: 130px;
        font-size: 12px;
      }
      &__price {
        font-size: 11px;
      }
      &-index {
        position: absolute;
        right: 2px;
        width: 60px;
        & > img {
          width: 30px;
          height: 30px;
        }
        & > div {
          position: absolute;
          top: 10px;
          left: 28px;
          font-size: 10px;
        }
      }
    }
    img {
      margin: 10px;
    }
    &__button__wrapper {
      gap: 5px;
      flex: 0 0 80px;
      margin-right: 10px;
      & > button {
        width: 80px;
        height: 27px;
        padding: 0;
        font-size: 10px;
      }
    }
  }
}

.ordered {
  &__wrapper {
    width: 1020px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__info {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }
  &__button {
    display: flex;
    gap: 9px;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 41px;
    font-size: $big-font-size;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  @include tablet {
    &__wrapper {
      width: $breakpoint-tablet;
      margin: 30px auto;
    }
    &__info {
      width: 95%;
      gap: 8px;
    }
  }

  @include mobile-l {
    &__wrapper {
      width: $breakpoint-mobile-l;
      margin-top: 20px;
    }
    &__info {
      width: 90%;
      gap: 8px;
    }

    &__button {
      margin-top: 15px;
      gap: 8px;
      margin-bottom: 30px;
      a {
        font-size: 15px;
        width: 180px;
        height: 45px;
      }
    }
  }
}

.require {
  &__info {
    display: flex;
    align-items: center;
    gap: 19px;
  }
}
