// INPUT
.input {
  padding-left: 20px;
  border-radius: 20px;
  border-style: none;
  outline: none;
  &__wrapper {
    display: flex;
    gap: 12px;
    align-items: center;
    & > label {
      display: flex;
      gap: 5px;
      width: 125px;
      font-size: $mid-font-size;
      & > p {
        color: $required-color;
      }
    }
  }
  &.gray-square {
    background-color: $gray-lev1;
    border-radius: 0;
    width: 98px;
    height: 58px;
    position: relative;
  }
  // INPUT JOIN/LOGIN
  &.login {
    box-sizing: border-box;
    width: 360px;
    height: 63px;
    border: 1px solid $gray-lev1;
    border-radius: 5px;
    font-size: medium;
  }
  &.join {
    box-sizing: border-box;
    width: 360px;
    height: 50px;
    border: 1px solid $gray-lev1;
    border-radius: 5px;
    font-size: medium;
  }
  &.checkbox {
    accent-color: $yellow-color;
    margin-right: 10px;
  }
}

// INPUT TYPE= NUMBER
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.numberInput {
  transform: translateY(25px);
  cursor: pointer;
  user-select: none;
  font-size: $big-font-size;
}
.upper {
  width: 30px;
  transform: translateY(-50px) translateX(80px);
  cursor: pointer;
  user-select: none;
}

.down {
  width: 30px;
  transform: translateY(-50px) translateX(80px);
  cursor: pointer;
  user-select: none;
}

// BUTTON
.button {
  cursor: pointer;
  border: none;
  background-color: $gray-lev1;
  box-sizing: border-box;
  &--middle {
    width: 98px;
    height: 58px;
  }
  &--medium {
    width: 247px;
    height: 58px;
  }
  &--large {
    width: 330px;
    height: 58px;
  }
  &--form {
    width: 360px;
    height: 58px;
    font-size: large;
    border-radius: 5px;
    &.weak {
      background-color: white;
      border: 1px solid $gray-lev1;
    }
  }
  &--check {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 50px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid black;
    font-size: $basic-font-size;
    gap: 5px;
    & > span {
      font-size: medium;
    }
  }
  &--none {
    background-color: white;
  }
}

// CARD

.card {
  width: 240px;
  height: 240px;
  background-color: $gray-lev1;
  display: flex;
  flex-direction: column;
  gap: 13px;
  cursor: pointer;
  & > img {
    width: 240px;
    height: 160px;
  }
}

.list {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  gap: 0px;
  & > img {
    width: 90px;
    height: 90px;
  }
  border-bottom: 1px solid $gray-lev1;
}

button {
  border: 0;
}
