.container {
  width: 100%;
  margin: 0 auto;
  background-color: $backGround-color;
  // flex: 2; //화면 크기만큼 늘어남 반응형
  // align-self: stretch;
}

.main {
  width: 100%;
  display: flex;
  margin: 0 auto;
  background-color: $backGround-color;
  flex: 1; //화면 크기만큼 늘어남 반응형
  align-self: stretch;
  background-color: aqua;
  min-height: calc(100vh - 80px - 50px);
}

.inner {
  width: 80%;
  margin: 0 auto;
}
