.error {
  display: flex;
  flex-direction: column;
  gap: 20px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    gap: 30px;
    img {
      width: 120px;
      height: 120px;
    }
  }
  &__head {
    font-size: $bbig-font-size;
    text-align: center;
  }
  &__content {
    font-size: $big-font-size;
    line-height: 25px;
    text-align: center;
  }
  &__button {
    width: 250px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: $big-font-size;
    background-color: $gray-lev1;
  }
}
