.footer {
  height: 50px;
  font-size: $small-font-size;
  display: flex;
  background-color: blueviolet;
  width: 100%;
  flex: 1;
  &__wrapper {
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
    & p {
      color: $gray-footer;
      font-size: $ssmall-font-size;
    }
  }
}
