@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
  height: 100%;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: $basic-font-size;
  font-weight: 600;
  color: $black-color;
  height: 100%;
}

#root {
  height: 100%;
}

@include mobile-m {
  .container {
    width: 640px;
  }
}
