html {
  height: 100%;
}

body {
  font-size: $basic-font-size;
  font-weight: bold;
  color: $black-color;
  height: 100%;
}

#root {
  height: 100%;
}

@include mobile {
  .container {
    width: 640px;
  }
}
