.header {
  width: 100%;
  height: 80px;
  align-items: center;

  &__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
  }
  &__logo {
    box-sizing: border-box;
    display: block;
    height: 100%;
    text-align: left;
    align-items: center;
    font-size: #{$big-font-size};
    flex-grow: 1;
    margin: 0 20px 0;
  }

  &__nav {
    font-size: #{$small-font-size};
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-grow: 1;
    &--one {
      height: 80px;
      background-color: $gray-lev1;
    }
    &--two {
      height: 80px;
      background-color: $gray-lev2;
    }
    &--three {
      height: 80px;
      background-color: $gray-lev3;
    }
  }
}

.li {
  display: block;
  width: 100%;
  flex-grow: 1;
  & a {
    display: block;
    height: 100%;
  }
}

// MEDIA
@include mobile {
  .header {
  }
}
