.header {
  width: 100%;
  height: 135px;
  align-items: center;
  background-color: #f6e173;
  @include mobile-l {
    height: 120px;
  }
}

.footer {
  height: 50px;
  font-size: $small-font-size;
  display: flex;
  background-color: blueviolet;
  width: 100%;
  flex: 1;
  &__wrapper {
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
    & p {
      color: $gray-footer;
      font-size: $ssmall-font-size;
    }
  }
}

.li {
  display: block;
  width: 100%;
  flex-grow: 1;
  & a {
    display: block;
    height: 100%;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  background-color: $backGround-color;
  // flex: 2; //화면 크기만큼 늘어남 반응형
  // align-self: stretch;
}

.main {
  width: 100%;
  display: flex;
  margin: 0 auto;
  background-color: $backGround-color;
  flex: 1; //화면 크기만큼 늘어남 반응형
  justify-content: center;
  align-self: stretch;
  min-height: calc(100vh - 80px - 50px);
}

.inner {
  width: 80%;
  margin: 0 auto;
}

.layout {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  &__wrapper {
    width: 1020px;
    margin: 0 auto;
  }
  hr {
    position: absolute;
    left: 0px;
    top: 45px;
    justify-content: center;
    height: 1.5px;
    background-color: white;
    width: 130%;
    border: 0;
    margin: 0px;
  }

  @include tablet {
    &__wrapper {
      width: $breakpoint-tablet;
    }
  }
  @include mobile-l {
    &__wrapper {
      width: $breakpoint-mobile-l;
    }
    hr {
      top: 40px;
    }
  }
  @include mobile-m {
    &__wrapper {
      width: $breakpoint-mobile-m;
    }
  }
  @include mobile-s {
    &__wrapper {
      width: $breakpoint-mobile-s;
    }
  }
}

.navBar {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  font-size: 11px;
  font-weight: 600;
  gap: 20px;
  margin: 16px 0px 12px 0px;
  @include mobile-l {
    font-size: 11px;
  }
}
.navSearch {
  display: flex;
  position: relative;
  width: 42%;
  margin-top: 6px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 28px 0px 15px 0px;
  }
  svg {
    position: absolute;
    width: 20px;
    right: -7px;
    top: -11px;
  }
  @include mobile-l {
    &__wrapper {
      gap: 10px;
      margin-top: 23px;
    }
    width: 20%;

    span {
      font-size: 20px;
      top: -10px;
    }
  }
  @include mobile-m {
    &__wrapper {
      gap: 10px;
    }
    font-size: 10px;
    span {
      font-size: 20px;
    }
  }
}

.menuBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  &__wrapper {
    display: flex;
    gap: 20px;
  }
  svg {
    width: 25px;
    margin-bottom: 3px;
  }
  @include mobile-l {
    &__wrapper {
      gap: 10px;
    }
    font-size: 10px;
    span {
      font-size: 20px;
    }
  }
  @include mobile-m {
    &__wrapper {
      gap: 10px;
    }
    font-size: 10px;
    span {
      font-size: 20px;
    }
  }
}

.search {
  width: 100%;
  position: absolute;
  height: 40px;
}

.side {
  box-sizing: border-box;
  display: flex;
  border: 1px solid $gray-lev1;
  height: 55px;
  align-items: center;
  padding-left: 15px;
  position: relative;
  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__head {
    font-size: 18px;
  }
  &__name {
    font-size: 14px;
    font-weight: 600;
  }
  &__menuList {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
  }
  & > svg {
    position: absolute;
    right: 10px;
    width: 18px;
  }
}

.now {
  background-color: #f6e173;
}
