.layout {
  background-color: $gray-lev1;
  height: 100%;
  width: 100%;
  background-color: $gray-lev1;
  display: flex;
  flex-direction: column;
  &__wrapper {
    width: 80%;
    margin: 0 auto;
  }
}

.navOne {
  background-color: $gray-lev1;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.navTwo {
  &__wrapper {
    background-color: $gray-lev1;
    display: flex;
  }
}
