// GLOBAL VARIABLES

// FONT
$big-font-size: 30px;
$basic-font-size: 25px;
$small-font-size: 20px;
$ssmall-font-size: 15px;

// COLOR
$violet-color: #524fa1;
$violet-soft-color: #8683bd;
$purple-color: #a44789;
$purple-soft-color: #bf7eac;
$mint-color: #3ab6bc;
$mint-soft-color: #75ccd0;
$gray-lev1: #efeff6;
$gray-lev2: #dcdcec;
$gray-lev3: #cbcae3;
$gray-footer: #999;
$backGround-color: #fbfbfb;
$black-color: #000;
$black-hover-color: #917f7f;

// breakpoints
$breakpoint-mobile: 335px;
$breakpoint-desktop: 1024px;
