// GLOBAL VARIABLES

// FONT
$big-font-size: 30px;
$basic-font-size: 25px;
$small-font-size: 20px;
$ssmall-font-size: 15px;

// COLOR
// $violet-color: #524fa1;
// $violet-soft-color: #8683bd;
// $purple-color: #a44789;
// $purple-soft-color: #bf7eac;
// $mint-color: #3ab6bc;
$yellow-color: #f6e173;
$gray-lev1: #d9d9d9;
$gray-lev2: #dcdcec;
$gray-lev3: #cbcae3;
$gray-footer: #999;
$backGround-color: #fbfbfb;
$black-color: #000;
$black-hover-color: #917f7f;

// breakpoints
$breakpoint-mobile-s: 320px;
$breakpoint-mobile-m: 375px;
$breakpoint-mobile-l: 425px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1034px;
