.input {
  padding-left: 20px;
  border-radius: 20px;
  border-style: none;
}

.card {
  width: 240px;
  height: 240px;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  gap: 13px;
  cursor: pointer;
}
.card > img {
  width: 240px;
  height: 160px;
}

html {
  height: 100%;
}

body {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  height: 100%;
}

#root {
  height: 100%;
}

@media (min-width: 375px) and (max-width: 1033px) {
  .container {
    width: 640px;
  }
}
.header {
  width: 100%;
  height: 140px;
  align-items: center;
  background-color: #f6e173;
}

.li {
  display: block;
  width: 100%;
  flex-grow: 1;
}
.li a {
  display: block;
  height: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  background-color: #fbfbfb;
}

.main {
  width: 100%;
  display: flex;
  margin: 0 auto;
  background-color: #fbfbfb;
  flex: 1;
  align-self: stretch;
  min-height: calc(100vh - 80px - 50px);
}

.inner {
  width: 80%;
  margin: 0 auto;
}

.footer {
  height: 50px;
  font-size: 12px;
  display: flex;
  background-color: blueviolet;
  width: 100%;
  flex: 1;
}
.footer__wrapper {
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.footer__wrapper p {
  color: #999;
  font-size: 10px;
}

.layout {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.layout__wrapper {
  width: 80%;
  margin: 0 auto;
}
.layout hr {
  position: absolute;
  left: 0px;
  top: 45px;
  justify-content: center;
  height: 1.5px;
  background-color: white;
  width: 130%;
  border: 0;
  margin: 0px;
}

.navOne {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  font-size: 15px;
  gap: 20px;
  margin: 16px 0px 12px 0px;
}

.navTwo {
  display: flex;
  position: relative;
  width: 45%;
}
.navTwo__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 23px 0px 15px 0px;
}
.navTwo div {
  width: 100%;
}
.navTwo span {
  position: absolute;
  right: -6px;
  top: 9px;
}

.menuBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
}
.menuBtn__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
.menuBtn span {
  font-size: 30px;
  margin-bottom: 7px;
}

.search {
  width: 100%;
  height: 40px;
}

.home {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 30px;
}
.home__wrapper {
  width: 80%;
  margin: 0 auto;
}
.home > ul {
  display: flex;
  gap: 30px;
  width: 90vw;
  margin: 0 auto;
  overflow: hidden;
}
.categories__wrapper {
  display: flex;
}

.categories {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.categories__wrapper {
  width: 1022px;
  height: 144px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin: 0 auto;
}
.categories__wrapper > ul {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-direction: row;
  overflow: hidden;
}
.categories__wrapper > ul > li {
  margin: 0 auto;
  width: 76px;
  height: 100%;
}
.categories--more {
  cursor: pointer;
}
.categories > img {
  width: 50%;
  height: auto;
  overflow: hidden;
}

.category {
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  border-radius: 50%;
  display: flex;
  width: 76px;
  height: 76px;
}
.category > a {
  display: flex;
  justify-content: center;
}
.category > a > img {
  width: 50%;
  height: auto;
  overflow: hidden;
}
.category__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.chart {
  width: 1020px;
  height: 372px;
  background-color: #d9d9d9;
  margin: 20px auto;
}
.chart__wrapper {
  width: 80%;
  height: auto;
  margin: 0 auto;
}
.chart--img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 1034px) and (max-width: 1033px) {
  .chart {
    width: 614px;
    height: 372px;
  }
}
.recommendation {
  display: flex;
  flex-direction: row;
  gap: 22px;
  margin: 0 auto;
}
.recommendation__wrapper {
  width: 1020px;
  height: 268px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-bottom: 30px;
}
.recommendation__head {
  display: flex;
}
.recommendation__description {
  display: flex;
  flex-direction: row;
  gap: 6px;
  justify-content: space-between;
}
.recommendation__description__wrapper {
  margin: 0 19px;
}
.recommendation__description-index > img {
  width: 37px;
  height: 41px;
}
.recommendation__description-index > div {
  font-size: 12px;
}
.recommendation__description-detail {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.recommendation__name {
  font-size: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.recommendation__price {
  font-size: 15px;
}

.products {
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 20px;
  grid-row-gap: 35px;
  display: grid;
}
.products__wrapper {
  display: flex;
  flex-direction: column;
  margin: 42px auto 20px;
  width: 1022px;
  gap: 62px;
}/*# sourceMappingURL=style.css.map */