.input {
  padding-left: 20px;
  border-radius: 20px;
  border-style: none;
}

html {
  height: 100%;
}

body {
  font-size: 25px;
  font-weight: bold;
  color: #000;
  height: 100%;
}

#root {
  height: 100%;
}

@media (min-width: 375px) and (max-width: 1033px) {
  .container {
    width: 640px;
  }
}
.header {
  width: 100%;
  height: 140px;
  align-items: center;
  background-color: #f6e173;
}

.li {
  display: block;
  width: 100%;
  flex-grow: 1;
}
.li a {
  display: block;
  height: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  background-color: #fbfbfb;
}

.main {
  width: 100%;
  display: flex;
  margin: 0 auto;
  background-color: #fbfbfb;
  flex: 1;
  align-self: stretch;
  min-height: calc(100vh - 80px - 50px);
}

.inner {
  width: 80%;
  margin: 0 auto;
}

.footer {
  height: 50px;
  font-size: 20px;
  display: flex;
  background-color: blueviolet;
  width: 100%;
  flex: 1;
}
.footer__wrapper {
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.footer__wrapper p {
  color: #999;
  font-size: 15px;
}

.layout {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.layout__wrapper {
  width: 80%;
  margin: 0 auto;
}
.layout hr {
  position: absolute;
  left: 0px;
  top: 45px;
  justify-content: center;
  height: 1.5px;
  background-color: white;
  width: 130%;
  border: 0;
  margin: 0px;
}

.navOne {
  box-sizing: border-box;
  display: flex;
<<<<<<< HEAD
  justify-content: flex-end;
  font-size: 15px;
  gap: 20px;
  margin: 16px 0px 12px 0px;
}

.navTwo {
  display: flex;
  position: relative;
  width: 45%;
}
.navTwo__wrapper {
  display: flex;
=======
<<<<<<< Updated upstream
=======
>>>>>>> feature/home
  justify-content: space-between;
  align-items: center;
  margin: 23px 0px 15px 0px;
}
.navTwo div {
  width: 100%;
}
.navTwo span {
  position: absolute;
  right: -6px;
  top: 9px;
}

.menuBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
}
.menuBtn__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
.menuBtn span {
  font-size: 30px;
  margin-bottom: 7px;
}

.search {
  width: 100%;
  height: 40px;
<<<<<<< HEAD
}

<<<<<<< HEAD
.menuBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
}
.menuBtn__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
.menuBtn span {
  font-size: 30px;
  margin-bottom: 7px;
}

.search {
  width: 100%;
  height: 40px;
}

.menuBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
}
.menuBtn__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
.menuBtn span {
  font-size: 30px;
  margin-bottom: 7px;
}

.search {
  width: 100%;
  height: 40px;
=======
>>>>>>> Stashed changes
>>>>>>> feature/home
}

=======
>>>>>>> a7894123f8703acca1fbc3f5959a0a6d1ecfd4a2
.home {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 30px;
}
.home__wrapper {
  width: 80%;
  margin: 0 auto;
}
.home > ul {
  display: flex;
  gap: 30px;
  width: 90vw;
  margin: 0 auto;
  overflow: hidden;
}
.categories__wrapper {
  display: flex;
}

.categories {
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
}
.categories__wrapper {
  width: 1022px;
  height: 144px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin: 0 auto;
}
.categories__wrapper > ul {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-direction: row;
  overflow: hidden;
}
.categories__wrapper > ul > li {
  margin: 0 auto;
  width: 76px;
  height: 100%;
}
.categories > img {
  width: 50%;
  height: auto;
  overflow: hidden;
}

.category {
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  border-radius: 50%;
  display: flex;
  width: 76px;
  height: 76px;
}
.category > a {
  display: flex;
  justify-content: center;
}
.category > a > img {
  width: 50%;
  height: auto;
  overflow: hidden;
}
.category__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.chart {
  width: 1020px;
  height: 372px;
  background-color: #d9d9d9;
  margin: 20px auto;
}
.chart__wrapper {
  width: 80%;
  height: auto;
  margin: 0 auto;
}
.chart--img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 1034px) and (max-width: 1033px) {
  .chart {
    width: 614px;
    height: 372px;
  }
}
.card {
  width: 300px;
  height: 300px;
  background-color: #d9d9d9;
}

.recommendation {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 0 auto;
  width: 90vw;
}
.recommendation__wrapper {
  width: 1020px;
  margin: 0 auto;
<<<<<<< HEAD
<<<<<<< HEAD
} /*# sourceMappingURL=style.css.map */
=======
<<<<<<< Updated upstream
=======
  overflow: hidden;
>>>>>>> Stashed changes
}/*# sourceMappingURL=style.css.map */
>>>>>>> feature/home
=======
  overflow: hidden;
}/*# sourceMappingURL=style.css.map */
>>>>>>> a7894123f8703acca1fbc3f5959a0a6d1ecfd4a2
